/*@import url(http://fonts.googleapis.com/css?family=Quicksand:400,300,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);
@import url(http://fonts.googleapis.com/css?family=Exo:400italic,700italic);*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);




 @font-face {
 	font-family:"Lato Black";
 	src:url("../fonts/lato_black/Lato-Black.eot?") format("eot"),
 	url("../fonts/lato_black/Lato-Black.woff") format("woff"),
 	url("../fonts/lato_black/Lato-Black.ttf") format("truetype"),
 	url("../fonts/lato_black/Lato-Black.svg#Lato-Black") format("svg");
 	font-weight:normal;
 	font-style:normal;
 }



