	@charset "utf-8";
	/* CSS Geral BASIC */

/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'yanone_kaffeesatzlight';
font-family: 'MyriadPro-Regular';
font-family: 'news701_btbold';
font-family: 'Signika', sans-serif;



font-family:"Lato Black";
font-family: 'Lato', sans-serif;

*/

@import url('fonts.css');



/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none; }
/* End Reset */


.top2 { margin-top:2px; }
.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top18 { margin-top:18px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px !important;; }
.top30 { margin-top:30px !important;; }
.top35 { margin-top:35px !important;; }
.top40 { margin-top:40px !important; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top115 { margin-top:115px; }
.top120 { margin-top:120px; }
.top150 { margin-top:150px; }
.top170 { margin-top:170px; }
.top190 { margin-top:190px; }
.top195 { margin-top:195px; }
.top200 { margin-top:200px; }
.top210 { margin-top:210px; }
.top220 { margin-top:220px; }
.top240 { margin-top:240px; }
.top270 { margin-top:270px; }
.top300 { margin-top:300px; }
.top320 { margin-top:320px; }
.top350 { margin-top:350px; }
.top395 { margin-top:395px; }
.top560 { margin-top:560px; }

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom90 { margin-bottom:90px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }
.bottom180 { margin-bottom:180px; }
.bottom200 { margin-bottom:200px; }
.bottom210 { margin-bottom:210px; }
.bottom280 { margin-bottom:280px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left81 { margin-left:81px; }
.left130 { margin-left:130px; }
.left210 { margin-left:210px; }
.left270 { margin-left:270px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right22 { margin-right:22px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right90 { margin-right:90px; }
.right100 { margin-right:100px; }
.right130 { margin-right:130px; }
.right210 { margin-right:210px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt25 { padding-top:25px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt300 { padding-top:300px; }

.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }

.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb200 { padding-bottom:200px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }



.pg10{  padding: 10px;}
.pg20{  padding: 20px;}


.container{
	width: 1170px !important;
}

.padding0{
	padding: 0px !important;
}


.input100{
	width: 100% !important;
}


.lato-black{
	font-family:"Lato Black";
}



.relative{
	position: relative;
}


body{
	font-weight:300;
	font-family: 'Lato', sans-serif;

}



h1{
	color: #000;
	font-size: 20px;
	font-weight:300;

}

h1 span{

}


h2{
	font-weight: 400;
	color: #283239;
	font-size: 25px;
}

h2 span{
	font-weight: 300;
	font-size: 20px;
}

h3 {
	line-height: 32px;
	font-weight: 700;
	color: #656565;
	font-size: 20px;
}

h3 span{

}


h4{
	font-weight: 700;
	font-size: 30px;
	color: #283239;

}


h4 span{
	font-weight: 700;
	color: #010101;
	font-size: 30px;
}


h5{
	font-size:64px;
	color:#283239;
	font-weight:100;
}

h5 span{
	font-weight: 400;
}

h6 {
	font-weight: 300;
	color: #000;
	font-size: 30px;
	padding-bottom: 15px;
	background: url(../imgs/linha-titulo-metade.jpg) bottom left no-repeat;
}


h6 span{

	text-decoration: underline: ;
}


p{
	font-weight: 300;
	font-size: 20px;
	color: #000;
	text-align: justify;
}

a:hover{
	text-decoration: none !important;
}



input,
select,
textarea{
	border: 1px solid #616161 !important;
	min-height: 41px !important;
	border-radius: 0px !important;
}


::-webkit-input-placeholder {
	color: #000000;
	font-weight: 400;
	font-size: 20px;
}

:-moz-placeholder {
	color: #000000;
	font-weight: 400;
	font-size: 20px;
}

::-moz-placeholder {
	color: #000000;
	font-weight: 400;
	font-size: 20px;
}

:-ms-input-placeholder {
	color: #000000;
	font-weight: 100;
	font-size: 20px;
}


/**
============================================
					rodape
============================================
*/
.rodape{
	background: url('../imgs/bg-rodape.jpg') top center no-repeat;
}

/* usando gradiente = background-image: linear-gradient(to top, #ededed, #a4a2a6); */
.rodape-preto{
	background:#000;
}

.rodape-preto h5{
	font-size:20px;
	color: #fff;
	font-weight: 300;
}


.menu-rodape li a {
	color: #283239;
	font-size: 20px;
	font-weight: 300;
	margin-right: 20px;
}

.menu-rodape li a:hover, .menu-rodape li a.active{
	color: #A7A0A0;
}


.menu-rodape {
	list-style: none;
	padding: 0px;
}

.bg-menu-rodape {
	border-bottom: 1px solid #fff;
	padding-bottom: 15px;
}

.menu-rodape li {
	float: left;
}

.rodape p {
	color: #283239;
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
}

.rodape p i {
	margin-right: 10px;
}

/**
============================================
					rodape
============================================
*/



/**
============================================
					topo
============================================
*/



/* fundo grandiente
	.fundo-cinza-grandiente{
		background-image: linear-gradient(to top, #ededed, #eaeaea);
	}
	*/
	.contatos h3{
		font-size:17px;
		color:#283239;
		font-weight:700;
	}



	.menu_topo{
		border-top:1px solid #e5e5e5;
	}


	.menu_topo li a {
		color: #283239;
		font-size: 20px;
		font-weight: 400;
		margin-left: 17px;
	}

	.menu_topo li a:hover{
		color: #A7A0A0;
	}


	.menu_topo {
		list-style: none;
	}

	.menu_topo li {
		float: left;
	}


	.topo_geral .stylish-input-group .input-group-addon{
		height:42px;
		border:none !important;
		background: #e5e5e5 !important;
	}

	.pesquisa {
		padding-top:10px !important;
		padding-bottom:6px !important;
	}

	.topo_geral .stylish-input-group .form-control{
		color:#000;
		height:42px;
		border:none !important;
		border-radius:0px;
		border-right:0;
		box-shadow:0 0 0;
		background: #e5e5e5 !important;
	}

	.topo_geral .stylish-input-group button{
		border:none !important;
		font-size:20px;
		border:0;
		background: #e5e5e5 !important;
	}


	.posicao-logo img{
		margin-top:-52px;
	}

	.fundo_cinza_escuro{
		-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.43);
		-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.43);
		box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.43);
		background:#283239;
	}

	.btn_carrinho,
	.btn_carrinho:hover,
	.btn_carrinho:active,
	.btn_carrinho:focus{
		text-align:left;
		font-size:23px;
		font-weight:700;
		color:#fff;
		background:#ed3237;
		padding: 0px 20px;
		border-radius:0px;
		line-height: 48px;
	}
	.btn_carrinho img{
		margin-top:-30px;
	}

	.fa-cart-arrow-down:before,.fa-angle-double-down:before  {
	    font-size: 30px;
	}

	.btn-vermelho{
		border-radius:0px;
		font-size:17px;
		padding:10px 20px;
		background: #ed1f1f;
		color: #fff;
	}

	.topo-meu-orcamento {
		background: #fff;
		width: 570px;
		padding: 0px 10px;
	}

	.badge {
		padding-left:3px;
		padding: 8px 11px;
		font-size: 14px;
		font-weight: 400;
		background-color: #000;
		border-radius: 50px;
	}

	.btn .badge {
		left: 225px;
	}

	.fa-angle-double-down:before {
    color: #000;

}

	.div_personalizado{
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}

	.lista-categorias li{
		float: left;
	}

	.lista-categorias li.active, .lista-categorias li.destaque {
		background:none;
		color: #fff !important;
	}

	.lista-categorias.active{
		background: #e5242b;
		color: #fff !important;
	}


	.lista-categorias li a:hover{
		background: none;
		color: #fff;
	}


	.lista-categorias li a{
		overflow:hidden;
		font-weight:400;
		display: block;
		font-size: 13px;
		opacity:0.60;
		color: #fff;
	}

	.topo-meu-orcamento {
		background: #fff;
		width: 570px;
		padding: 0px 10px;
	}

	.lista-categorias-submenu{
		background: #283239;
		margin-top: 8px !important;

	}

	.navbar-nav  li  a {
    padding: 9px !important;
}

	.lista-categorias-submenu li, .lista-categorias-submenu li a{
		width: 100%;
		height: inherit;
	}

	.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
		background:none;

	}


/**
============================================
					topo
============================================
*/


/**
============================================
					HOME
============================================
*/



/*==================================================
 * Effect 2
 * ===============================================*/
 .effect2
 {
 	position: relative;
 }
 .effect2:before, .effect2:after {
 	background: #777;
 	bottom: 12px;
 	box-shadow: 0 15px 10px #777;
 	content: "";
 	left: 1px;
 	max-width: 300px;
 	position: absolute;
 	top: 63%;
 	transform: rotate(-3deg);
 	width: 50%;
 	z-index: -1;
 }
 .effect2:after
 {
 	transform: rotate(3deg);
 	right: 1px;
 	left: auto;
 }


 .fundo-cinza{
 	background: rgba(255,255,255,1);
 	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(26%, rgba(255,255,255,1)), color-stop(89%, rgba(209,209,209,1)), color-stop(100%, rgba(201,201,201,1)));
 	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9', GradientType=1 );
 }




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner {
	width:100%;
	height:492px;
	margin:0px auto;
	overflow:hidden;
	position: relative;
}

#content_slider {
	width:1920px;
	height:492px;
	overflow:hidden;
	position:absolute;
	margin-left:-960px;
	left:50%;
}


.container_banner_faixa{
	width: 100%;
	height: 192px;
	background: url(../imgs/faixa-slider.png) top center no-repeat;
	position: absolute;
	bottom: 0px;
	z-index: 100;
}

#content-slider-1 .rsTabs {
    width: 200px;
    height: 50px;
    z-index: 9999;
    position: absolute;
    right: 0px;
    left: 50%;
    margin-left: 390px;
    top: 440px;
}

#content-slider-1 .rsNavItem {
    background: #ff8a8f;
    width: 33px;
    height: 33px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
}

#content-slider-1 .rsNavSelected {
    background: #ff151f;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



    .carroucel-home h1 {
    	color: #fff;
    	font-weight:100;
    	font-size:45px;
    }

    .carroucel-home p{
    	text-align:right;
    	color: #fff;
    	font-weight:400;
    	font-size:45px;

    }



    .carroucel-home li{
    	margin:5px !important;
    	width:33px;
    	border:inherit;
    	height:33px;
    	border-radius:50px;
    	background:#ed1f1f;
    	opacity:0.5;
    	-moz-box-shadow: 6px 4px 3px #888;
    	-webkit-box-shadow: 6px 4px 3px #888;
    	box-shadow: 6px 4px 3px #888;
    }

    .carroucel-home li.active{
    	border:inherit;
    	margin:5px !important;
    	width:33px;
    	height:33px;
    	border-radius:50px;
    	background:#ed1f1f;
    	opacity:1;
    	-moz-box-shadow: 6px 4px 3px #888;
    	-webkit-box-shadow: 6px 4px 3px #888;
    	box-shadow: 6px 4px 3px #888;
    }


    .btn-transparente{
    	padding:15px 50px;
    	border-radius:10px;
    	border:2px solid #fff;
    	font-weight:700;
    	color:#fff;
    	font-size:20px;
    	background:none;
    }

    .btn-transparente-produtos{
    	padding:15px 35px;
    	border-radius:10px;
    	border:1px solid #000;
    	font-weight:700;
    	color:#000;
    	font-size:20px;
    	background:none;
    }

    .carroucel-home .carousel-control{
    	opacity:1;
    	color:#000;
    	top:409px;
    	width: 7%;
    	z-index: 999;
    }


    .titilo_bg_home{
    	width: 100%;
    	height: 250px;
    	position: absolute;
    	top:0px;
    	z-index: 100;
    }

    .btn_titulo_home,.btn_titulo_home:hover{
    	width:350px;
    	line-height:70px;
    	background:#ff151f;
    	color:#fff;
    	font-size:20px;
    }

    .btn_saiba_home,.btn_saiba_home:hover{
    	width:250px;
    	line-height:70px;
    	background:#000 url(../imgs/icon_mais.png) left 15px center no-repeat;
    	color:#fff;
    	font-size:20px;
    }



    .produtos_cat h1{
    	font-size:34px;
    	color:#000;

    }

    .produtos_cat h2{
    	font-size:45px;
    	color:#000;
    	text-decoration: underline;

    }

    .btn_produtos_home,.btn_produtos_home:hover{
    	height:54px;
    	border:2px solid #000;
    	border-radius:0px;
    	font-weight:700;
    	color:#000;
    	font-size:20px;
    	background:none;
    }

    .bootstrap-select>.dropdown-toggle,.bootstrap-select>.dropdown-toggle:hover{
    	height:54px;
    	border:2px solid #000;
    	border-radius:0px;
    	font-weight:700;
    	color:#000;
    	font-size:20px;
    	background:none;
    	width:100%;
    }


    .stylish-input-group .input-group-addon{
    	border:2px solid #000 !important;
    	border-left:0px !important;
    	height:54px;
    	background: #fff !important;
    }

    .stylish-input-group .form-control{
    	font-size:17px;
    	color:#000;
    	height:54px;
    	border-radius:0px;
    	border:2px solid #000 !important;
    	border-right:0px !important;
    	background: #fff !important;

    }

    .stylish-input-group button{
    	font-size:20px;
    	border:0;
    	background: #fff !important;
    }



    .sub_drop_produtos {
    	padding: 10px;
    	top:80%;
    	left: auto;
    }



    .menu-produtos li a{
    	height:60px;
    	margin-top:10px;
    	font-size: 15px;
    	font-weight:700;
    	color: #fff;
    }

    .menu-produtos li,
    .menu-produtos li:hover{
    	vertical-align:middle;
    	display:block;
    	height:60px;
    	text-align:center;
    }


    .menu-produtos li a:hover{
    	font-size: 15px;
    	font-weight: 700;
    	height: 60px;
    	background: #831A17 !important;
    	color: #fff;
    }

    .menu-destaques,
    .menu-destaques a:hover,
    .menu-destaques a.active,
    .menu-destaques a:focus{
    	font-weight:700;
    	border-radius: 0px;
    	font-size: 15px;
    	color: #fff !important;
    	background: #831A17 !important;
    }

    .menu-produtos-cat {
    	background: #FF151F;
    	font-size: 15px;
    	color: #fff;
    }

    .btn-circle.btn-lg {
    	text-align: center;
    	width: 35px;
    	height: 32px;
    	padding: 3px 6px;
    	border:2px solid #000;
    	border-radius: 25px;
    	background: none;
    }


    .btn_produtos_home_geral{
    	height:50px;
    	padding: 6px 21px;
    	padding: 10px 21px;
    	border:2px solid #000;
    	border-radius:0px;
    	font-weight:400;
    	color:#000;
    	font-size:20px;
    	background:none;
    }

    .btn_produtos_home_geral:hover{
    	background:	#b0afb5;
    }
    .btn_produtos_orcamento,.btn_produtos_orcamento:hover{
    	height:50px;
    	border:2px solid #000;
    	border-radius:0px;
    	font-weight:400;
    	color:#000;
    	font-size:20px;
    	background:none;
    }

    .produtos_home h1{
    	height:45px;
    	overflow:hidden;
    }


    .produtos_home .thumbnail{
    	border:inherit;
    	border-radius:0px;
    	border-bottom:4px solid #000;

    }

    .produtos_home img{
    	border:1px solid #b0afb5;
    }

    .servicos_home h1 {
    	padding-bottom: 15px;
    	background: url(../imgs/linha-titulo-metade.jpg) bottom left no-repeat;
    	font-family:"Lato Black";
    	font-size: 34px;
    	color: #000;
    }

    .btn_orcamentos{
    	text-align:right;
    	height:50px;
    	padding: 10px 17px 10px 50px;
    	border:2px solid #000;
    	border-radius:0px;
    	font-weight:700;
    	color:#000;
    	font-size:20px;
    	background:url(../imgs/icon_carrinho_home.png) left 5px center no-repeat;
    }

    .btn_orcamentos:hover{
    	background:	#b0afb5 url(../imgs/icon_carrinho_home.png) left 5px center no-repeat;
    }

    .servicos_home_cat p{
    	overflow:hidden;
    	max-height:60px;
    	font-size:14px;
    }

    .servicos_home_cat h1{
    	overflow:hidden;
    	min-height:50px;
    	font-weight:700;
    }

    .saiba_mais_materiais h5{
    	color:#fff;
    }


    .saiba_mais_materiais{
    	height:533px;
    	background:url(../imgs/bg_saiba_mais.jpg) top center no-repeat;
			overflow: hidden;
    }

    .saiba_mais_desc{
    	background:#fff;

    }

    .saiba_mais_desc h3{
    	opacity: 0.5;
    	color: #000;
    }

    .saiba_mais_desc h6,.dicas_home h6{
    	font-weight:700;
    }

    .dicas_home p{
    	overflow:hidden;
    	max-height:83px;
    }
/**
============================================
					HOME
============================================
*/

.bg-branco{
	background: #fff;
}

.desc-empresa h1{
	font-size: 47px;
	color: #fff;
	font-weight: 100;
}


.desc-servico h1{
	color: #fff;
	font-size: 40px;
}


.desc-empresa h1 span{
	color: #ffffff;
	font-weight: 400;
}

.desc-mais-line{
	height: 225px;
	overflow: auto;
}



.btn-vermelho-1{
	background: #ed3237;
	border-radius: 0px;
	font-size: 30px;
	color: #fff;
}


.titulo-linha-baixo{
	padding-bottom: 15px;
	background: url(../imgs/linha-titulo-metade.jpg) bottom left no-repeat;
}

.titulo-linha-direia{
	padding-bottom: 15px;
	background: url(../imgs/linha-titulo-metade.jpg) bottom right no-repeat;
}


.border-empresa-grupo{
	border: 1px solid #c9c9c9;
	padding: 8px;
}


.logo-grupo{
	margin-top: -35px;
}


.img-maps{
	position: absolute;
	background: url('../imgs/img-maps.png') top center no-repeat;
	height: 134px;
	top: 0px;
	z-index: 999;
}






/**
============================================
					DICAS
============================================
*/
.titulo_pagina_internas,.titulo_pagina_internas_trabalhe {
	width:439px;
	height:104px;
	background: #ed3237;
}



.titulo_pagina_internas h1{
	font-weight:100;
	font-size: 47px;
	color:#fff;
}

.titulo_pagina_internas p {
	text-align: center;
	margin-left: 116px;
	font-weight: 700;
	color: #fff;
}

.titulo_pagina_internas_trabalhe h1{
	font-weight:100;
	font-size: 42px;
	color:#fff;
}


.btn_dicas_saiba{
	line-height:57px;
	border-radius:0px;
	color:#fff;
	background: #ed3237;
	font-size:20px;
	font-weight:700;
	-webkit-box-shadow: 0px 2px 16px 0px rgba(50, 50, 50, 0.21);
	-moz-box-shadow:    0px 2px 16px 0px rgba(50, 50, 50, 0.21);
	box-shadow:         0px 2px 16px 0px rgba(50, 50, 50, 0.21);
}

.btn_dicas_saiba:hover{
	line-height:57px;
	background: #a92c2a;
}


.dicas_desc .thumbnail{
	padding:20px;
}

.dicas_desc h1{
	font-size:30px;
	color:#ed3237;
}


.posicao_barra{
	position:relative;
}

.barra_bg_internas{
	position:absolute;
	bottom: -30px;
	z-index: -1;
	height:120px;
	width: 100%;
	background: url(../imgs/barra_bg_internas.png) top center no-repeat;

}

.categorias_dicas h6{
	font-weight:700;
}

.categorias_dicas li a{
	margin-top:20px;
	font-size:20px;
	color:#283239;
	font-weight:300;
}

.categorias_dicas li{
	margin-top:20px;

}

.categorias_dicas li a:hover{
	font-weight:700;
	color: #000;
}


/**
============================================
					DICAS
============================================
*/


.bg-cinza{
	background: #e5e5e5;
}


.lista-servico{
	margin-bottom: 65px;
	border-bottom: 5px solid #283239;
	padding-bottom: 15px;
	overflow: hidden;
}


.lista-servico h4{
	font-size: 20px;
	height: 45px;
	overflow: hidden;
}



.lista-servico p{
	height: 90px;
	overflow: hidden;
}

/**
============================================
					PRODUTOS
============================================
*/


.produtos_dentro img{
	padding:20px;
	border:1px solid #b5b5b5;
}

.produtos_dentro h1{
	font-size:30px;
	color:#283239;
}
.produtos_dentro h2{
	margin-top:20px;
}

.btn_orcamento_produtos,.btn_orcamento_produtos:hover{
	width:378px;
	line-height:70px;
	background:#ed3237;
	color:#fff;
	font-size:20px;
}

.btn_orcamento_produtos:hover{
	background:#972824;
	color:#000;
	font-size:20px;
}

/**
============================================
					PRODUTOS
============================================
*/



/**
============================================
					ORCAMENTO
============================================
*/


.tb-lista-itens tbody, .tb-lista-itens table {
	margin-bottom: 0px !important;
	background: #d8d8d9;
}

.lista-categorias h4{
	font-size: 15px;
	font-weight: 700;
	color: #fff;
}
.tb-lista-itens td{
	font-weight: 300;
	color: #000;
	font-size: 17px;
	vertical-align: middle !important;
}

.tb-lista-itens img{
	border:2px solid #000;
}

.input-lista-prod-orcamentos {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

.input-lg, .form-group-lg .form-control {
	border-radius: 0px;
}

.btn-formulario{
	border-radius:0px;
	font-size:20px;
	padding:15px 30px;
	background: #ed1f1f;
	color: #fff;
}

.btn-vermelho{
	border-radius:0px;
	font-size:17px;
	padding:10px 20px;
	background: #ed1f1f;
	color: #fff;
}

.selecao_cat label{
	margin-top:10px;
	color:#9d9d9d;
	font-size:15px;
}
/**
============================================
					ORCAMENTO
============================================
*/



/**
============================================
					CONTATOS
============================================
*/

.form-inline .has-feedback .form-control-feedback {
	top: 3px !important;
}
/**
============================================
					CONTATOS
============================================
*/




.lista-dicas p{
	height: 91px;
	overflow: hidden;
}

.topo-meu-orcamento {
	background: #fff;
	width: 470px;
	padding: 0px 10px;
}

.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 20px;
	padding-bottom: 10px;
}


.lista-itens-carrinho h1{
	font-size: 20px;
}


.btn_produtos_todos{
	border-radius:0px;
	width:169px;
	line-height:44px;
	font-size:20px;
	color:#fff;
	background:#ff151f;
	font-family:"Lato Black";
}

.btn_produtos_todos:hover{
	background:#98231e;
}

.btn_servicos_home_geral{
	text-align:center;
	width:169px;
	line-height:31px;
	padding: 13px 10px 10px 20px;
	border:2px solid #000;
	border-radius:0px;
	font-weight:700;
	color:#000;
	font-size:15px;
}

.btn_servicos_home_geral:hover{
	background:#b0afb5;
}
