
 #full-width-slider {
  width: 100%;
}

.infoBlock {
    position: absolute;
    top: 115px;
    right: 0px;
    left: auto;
    /* max-width: 650px; */
    padding-bottom: 0;
    overflow: hidden;
}

.infoBlock h4 {
  font-weight: 100;
	color: #fff;
	font-size: 47px;
	
}

.infoBlock p {
  font-weight: 400;
	color: #fff;
	font-size: 47px;
	
}

.fullWidth {
  width: 1920px;
}

@media screen and (min-width:960px) and (min-height:660px) {
  .heroSlider .rsOverflow,
  .royalSlider.heroSlider {
      height: 520px !important;
  }
}

@media screen and (min-width:960px) and (min-height:1000px) {
    .heroSlider .rsOverflow,
    .royalSlider.heroSlider {
        height: 660px !important;
    }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  .royalSlider.heroSlider,
  .royalSlider.heroSlider .rsOverflow {
    height: 300px !important;
  }
  .infoBlock {
    padding: 10px;
    height: 100%;
    max-height: 100%;
    /* min-width: 40%; */
    left: 0;
    top: 0;
    right: auto;
    font-size: 12px;
  }
  
}
