@charset "utf-8";

/* CSS Geral BASIC */


/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'Lato', sans-serif;
font-family:"Lato Black";
*/

@import url('./fonts.css');

/* Reset */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none;}
/* End Reset */



.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top12 { margin-top:12px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }
.top35 { margin-top:35px; }
.top40 { margin-top:40px; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top110 { margin-top:110px; }
.top130 { margin-top:130px; }
.top140 { margin-top:140px; }
.top150 { margin-top:150px; }
.top155 { margin-top:155px; }
.top160 { margin-top:160px; }
.top170 { margin-top:170px; }
.top180 { margin-top:180px; }
.top190 { margin-top:190px; }
.top195 { margin-top:195px; }
.top200 { margin-top:200px; }
.top205 { margin-top:205px; }
.top210 { margin-top:210px; }
.top230 { margin-top:230px; }
.top250 { margin-top:250px; }
.top260 { margin-top:260px; }
.top270 { margin-top:270px; }
.top330 { margin-top:330px; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left130 { margin-left:130px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right130 { margin-right:130px; }
.right230 { margin-right:230px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt25 { padding-top:25px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt170 { padding-top:170px; }
.pt190 { padding-top:190px; }
.pt200 { padding-top:200px; }
.pt300 { padding-top:300px; }

.pl5 { padding-left:5px; }
.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }


.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb25 { padding-bottom:25px !important; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb70 { padding-bottom:70px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb190 { padding-bottom:190px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }



.pg10{padding:10px;}
.pg20{padding:20px;}
.pg60{padding:60px;}


.container {
	max-width: 480px;
}

.input100 {
	width: 100% !important;
}

.media-left, .media-right, .media-body {
	display: table-cell;
	vertical-align: bottom;
}



body {
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}



.padding0{
	padding:0px !important;
}

.lato-black{
	font-family:"Lato Black";
}

h1 {
	color: #000;
	font-size: 15px;
	font-weight: 300;
}

h1 span {
	
}

h2 {
    font-weight: 700;
    font-size: 20px;
    color: #283239;
}

h2 span {
    font-weight: 300;
    font-size: 20px;
}


h3 {
	font-weight: 700;
	color: #656565;
	font-size: 20px;
}

h3 span{
	
}

h4 {
	font-size:17px;
	font-weight:700;
	color:#283239;
}

h4 span {
	font-weight: 700;
	color: #010101;
	font-size: 30px;
}


h5 {
	font-weight: 400;
	color: #000;
	font-size: 25px;
}

h5 span{
	

}

h6{
	font-weight: 300;
	color: #000;
	font-size:25px;
	text-decoration: underline; 
}

p {
	color:#000;
	font-size:15px;
	text-align: justify;
}

p span{
	color:#fff;
}


a:hover {
	text-decoration: none;
}




/**
============================================
					RODAPE
============================================
*/

.bg-fundo-preto{
	position: relative;
	background: #000;
}

.bg-fundo-preto p{
	color: #fff;
	font-weight: 700;
	padding: 10px 0px;
	text-align: center;
}


/**
============================================
					RODAPE
============================================
*/



/**
============================================
					TOPO
============================================
*/

.btn_vermelho_topo,.btn_vermelho_topo:hover{
	border-radius: 0px;
	font-weight: 700;
	color: #fff;
	font-size: 15px;
	background: #ed3237;
}


.menu-topo{
	background:#283239;
}

.contatos_topo .media{
	margin-top:5px !important;
}

.contatos_topo .media-left, .contatos_topo .media-right, .contatos_topo .media-body{
	vertical-align:middle;
}

.btn_vermelho_carrinho,.btn_vermelho_carrinho:hover{
	font-size:20px;
	height:64px;
	padding: 20px 25px;
	border-radius:0px;
	color:#fff;
	background: #ed3237;
	text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
}

.btn-menu,.btn-menu:hover{
	text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	font-size:17px;
	opacity:0.7;
	color:#fff;
	font-family:"Lato Black";
}

.btn-cinza, .btn-cinza:hover {
	font-size:15px;
	border-radius:0px;
	background: #eaeaea;
	color: #000;
}



.btn_pesquisas_topo, .btn_pesquisas_topo:hover {
	font-size:20px;
	padding: 17px 15px;
	background: url(../imgs/bg_transparente.png);
	border-radius: 0px;
	opacity:0.7;
	color: #fff;
}

.form_busca_topo {
	left:-38px;
	width: 303px;
}

/**
============================================
					TOPO
============================================
*/



/**
============================================
					HOME
============================================
*/



/*==================================================
 * Effect 2
 * ===============================================*/
 .effect2
 {
 	position: relative;
 }
 .effect2:before, .effect2:after {
 	background: #777;
 	bottom: 12px;
 	box-shadow: 0 15px 10px #777;
 	content: "";
 	left: 1px;
 	max-width: 300px;
 	position: absolute;
 	top: 63%;
 	transform: rotate(-3deg);
 	width: 50%;
 	z-index: -1;
 }
 .effect2:after
 {
 	transform: rotate(3deg);
 	right: 1px;
 	left: auto;
 }


 .fundo-cinza{
 	background: rgba(255,255,255,1);
 	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(26%, rgba(255,255,255,1)), color-stop(89%, rgba(209,209,209,1)), color-stop(100%, rgba(201,201,201,1)));
 	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(209,209,209,1) 89%, rgba(201,201,201,1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9', GradientType=1 );
 }
 .container_banner_faixa{
 	width: 100%;
 	height: 50px;
 	background: url(../imgs/faixa-slider.png) top center no-repeat;
 	position: absolute;
 	bottom: -1px;
 	z-index: 10;
 }


 /* Carousel base class */
 .carroucel-home .carousel {
 	height: 197px;
 }
 /* Since positioning the image, we need to help out the caption */
 .carroucel-home .carousel-caption {
 	text-align: left;
 	z-index: 10;
 	bottom: 0px;
 }

 /* Declare heights because of positioning of img element */
 .carroucel-home .carousel .item {
 	height: 197px;
 }


 .carroucel-home .carousel-inner > .item > img {
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 197px;
 }

 .carroucel-home{
 	margin-top:-1px;
 	position: relative;
 }

 .carroucel-home h1 {
 	color: #fff;
 	font-weight:100;
 	font-size:20px;
 }

 .carroucel-home p{
 	text-align:right;
 	color: #fff;
 	font-weight:400;
 	font-size:20px;

 }


 .carroucel-home .carousel-caption {
 	top:10px;
 	right:0px;
 	left: 0px;
 }

 .carroucel-home li{
 	margin:0px !important;
 	width:20px;
 	height:20px;
 	background:#ed1f1f;
 	opacity:0.5;
 }

 .carroucel-home li.active{
 	margin:0px !important;
 	width:20px;
 	height:20px;
 	background:#ed1f1f;
 	opacity:1;
 }

 .carroucel-home .carousel-indicators {
 	top: 163px;
 	bottom: 20px;
 	margin-left:126px;
 	width:50px;
 }

 .btn-transparente{
 	padding:15px 50px;
 	border-radius:10px;
 	border:2px solid #fff;
 	font-weight:700;
 	color:#fff;
 	font-size:20px;
 	background:none;
 }

 .btn-transparente-produtos{
 	padding:15px 35px;
 	border-radius:10px;
 	border:1px solid #000;
 	font-weight:700;
 	color:#000;
 	font-size:20px;
 	background:none;
 }

 .carroucel-home .carousel-control{
 	opacity:1;
 	color:#000;
 	top:164px;
 	width: 7%;
 	z-index: 999;
 }

 .carroucel-home .glyphicon-chevron-right {
 	right: 40px;
 }

 .carroucel-home .glyphicon-chevron-left {
 	left: 331px;
 }

 .carroucel-home .carousel-control:hover{
 	color:#000;
 	opacity:0.5;
 }

 .titilo_bg_home{
 	width: 100%;
 	height: 250px;
 	position: absolute;
 	top:0px;
 	z-index: 100;
 }

 .btn_titulo_home,.btn_titulo_home:hover{
 	width:350px;
 	line-height:70px;
 	background:#ff151f;
 	color:#fff;
 	font-size:20px;
 }


 .btn_saiba_home, .btn_saiba_home:hover {
 	width: 150px;
 	line-height: 27px;
 	background: #000 url(../imgs/icon_mais.png) left 4px center no-repeat;
 	color: #fff;
 	font-size: 15px;
 }



 .produtos_cat h1{
 	font-size:34px;
 	color:#000;

 }

 .produtos_cat h2{
 	font-size:45px;
 	color:#000;
 	text-decoration: underline;

 }

 .btn_produtos_home,.btn_produtos_home:hover{
 	height:54px;
 	border:2px solid #000;
 	border-radius:0px;
 	font-weight:700;
 	color:#000;
 	font-size:20px;
 	background:none;
 }

 .bootstrap-select>.dropdown-toggle,.bootstrap-select>.dropdown-toggle:hover{
 	height:54px;
 	border-radius:0px;
 	font-weight:700;
 	color:#fff;
 	font-size:16px;
 	background:#283239;
 	width:100%;
 }


 .stylish-input-group .input-group-addon{
 	border:2px solid #000 !important;
 	border-left:0px !important;
 	height:54px;
 	background: #fff !important; 
 }

 .stylish-input-group .form-control{
 	font-size:17px;
 	color:#000;
 	height:54px;
 	border-radius:0px;
 	border:2px solid #000 !important;
 	border-right:0px !important;
 	background: #fff !important; 

 }

 .stylish-input-group button{
 	font-size:20px;
 	border:0;
 	background: #fff !important; 
 }



 .sub_drop_produtos {
 	padding: 10px;
 	top:80%;
 	left: auto;
 }



 .menu-produtos li a{
 	height:50px;
 	margin-top:10px;
 	font-size: 15px;
 	font-weight:700;
 	color: #fff;
 }

 .menu-produtos li,.menu-produtos li:hover{
 	vertical-align:middle;
 	display:block;
 	height:50px;
 	text-align:center;
 }


 .menu-produtos li a:hover{
 	font-size: 15px;
 	font-weight:700;
 	height:50px;
 	opacity:0.5;
 	background: #460c09 !important;
 	color: #fff;
 }

 .menu-destaques,.menu-destaques a:hover,.menu-destaques a.active,.menu-destaques a:focus{
 	font-weight:700;
 	border-radius: 0px;
 	font-size: 15px;
 	color: #fff !important;
 	background: #ff151f !important;
 }

 .menu-produtos-cat {
 	background: #bf2826;
 	font-size: 15px;
 	color: #fff;
 }




 .btn_produtos_home_geral,.btn_produtos_home_geral:hover{
 	height:46px;
 	border:2px solid #000;
 	padding: 8px 16px;
 	border-radius:0px;
 	font-weight:400;
 	color:#000;
 	font-size:15px;
 	background:none;
 }

 .btn_produtos_home_geral img{
 	border:0px !important;
 }


 .produtos_home h1{
 	height:45px;
 	overflow:hidden;
 }


 .produtos_home .thumbnail{
 	border:inherit;
 	border-radius:0px;
 	border-bottom:4px solid #000;

 }

 .produtos_home img{
 	border:1px solid #b0afb5;
 }

 .servicos_home h1 {
 	text-decoration:underline;
 	font-family:"Lato Black";
 	font-size: 25px;
 	color: #000;
 }

 .btn_orcamentos{
 	text-align:right;
 	height:50px;
 	padding: 10px 17px 10px 50px;
 	border:2px solid #000;
 	border-radius:0px;
 	font-weight:700;
 	color:#000;
 	font-size:20px;
 	background:url(../imgs/icon_carrinho_home.png) left 5px center no-repeat;
 }

 .btn_orcamentos:hover{
 	background:	#b0afb5 url(../imgs/icon_carrinho_home.png) left 5px center no-repeat;
 }

 .servicos_home_cat p{
 	overflow:hidden;
 	max-height:60px;
 	font-size: 14px;
 }

 .servicos_home_cat h1 {
 	font-weight: 700;
 	font-size: 20px;
 }

 .saiba_mais_materiais h5{
 	font-size:30px;
 	color:#fff;
 }


 .saiba_mais_materiais{
 	background:url(../imgs/bg_saiba_mais.jpg) top center no-repeat;
 }

 .saiba_mais_desc{
 	background:#fff;

 }

 .saiba_mais_desc h3{
 	opacity: 0.5;
 	color: #000;
 }

 .saiba_mais_desc h6,.dicas_home h6{
 	font-weight:700;
 }

 .dicas_home p{
 	overflow:hidden;
 	max-height:83px;
 }


 .dicas_home .media-left,.dicas_home .media-right,.dicas_home .media-body {
 	display: table-cell;
 	vertical-align: middle;
 }


 .alt_pag_internas {
 	position:relative;
 	height: 250px;
 }

 .container_banner_faixa_internas {
    width: 100%;
    height: 63px;
    background: url(../imgs/barra_int_paginas.png) top center no-repeat;
    position: absolute;
    bottom: -1px;
    z-index: 0;
}

 .container_banner_faixa_internas_contatos{
 	width: 100%;
 	height: 33px;
 	background: url(../imgs/barra_int_paginas.png) top center no-repeat;
 	position: absolute;
 	bottom: 17px;
 	z-index: 0;
 }

 .titulo_paginas h1{
 	font-size:40px;
 	font-weight:100;
 	color:#fff;
 }

 .titulo_paginas h1 span{
 	font-size:40px;
 	font-weight:400;
 	color:#fff;
 }

 .titulo_paginas p{
 	font-weight:400;
 }
/**
============================================
					HOME
============================================
*/



/**
============================================
					CONTATOS
============================================
*/

.titulo-linha-baixo{
	padding-bottom: 15px;
	background: url(../imgs/linha-titulo-metade.png) bottom left no-repeat;
}

input, select, textarea {
    border: 1px solid #616161 !important;
    min-height: 40px !important;
    border-radius: 0px !important;
}

.fundo-formulario input{
	border-top:4px solid #000;
}

.contatos .media-left, .contatos .media-right, .contatos .media-body {
	display: table-cell;
	vertical-align: middle;
}
/**
============================================
					CONTATOS
============================================
*/

/**
============================================
				EMPRESA
============================================
*/

.border-empresa-grupo{
	border:1px solid #c9c9c9;
}

.logo-grupo {
    margin-top: -35px;
}


.btn-formulario {
    border-radius: 0px;
    font-size: 15px;
    padding: 15px 30px;
    background: #ed1f1f;
    color: #fff;
}

/**
============================================
					DICAS
============================================
*/
.titulo_pagina_internas,.titulo_pagina_internas_trabalhe {
	width:288px;
	height:70px;
	background: #ed3237;
}



.titulo_pagina_internas h1{
	font-weight:100;
	font-size: 31px;
	color:#fff;
}


.titulo_pagina_internas p {
	text-align: center;
	margin-left: 53px;
	font-weight: 700;
	color: #fff;
}


.titulo_pagina_internas_trabalhe h1{
	font-weight:100;
	font-size: 26px;
	color:#fff;
}


.btn_dicas_saiba,.btn_dicas_saiba:hover{
	line-height:46px;
	padding:4px 35px;
	border-radius:0px;
	color:#fff;
	background: #ed3237;
	font-size:15px;
	font-weight:700;
	-webkit-box-shadow: 0px 2px 16px 0px rgba(50, 50, 50, 0.21);
	-moz-box-shadow:    0px 2px 16px 0px rgba(50, 50, 50, 0.21);
	box-shadow:         0px 2px 16px 0px rgba(50, 50, 50, 0.21);
}


.dicas_desc .thumbnail,
.dicas_desc-dentro .thumbnail{
	padding:10px;
}

.dicas_desc h1,
.dicas_desc-dentro h1{
	font-size:20px;
	color:#ed3237;
}

.dicas_desc p{
	overflow:hidden;
	height:61px;
	font-size:15px !important;
	font-weight:400;
}


.posicao_barra{
	position:relative;
}

.barra_bg_internas{
	position:absolute;
	bottom: -30px;
	z-index: -1;
	height:120px;
	width: 100%;
	background: url(../imgs/barra_bg_internas.png) top center no-repeat;
	
}

.categorias_dicas h6{
	font-weight:700;
}

.categorias_dicas li a{
	margin-top:20px;
	font-size:20px;
	color:#283239;
	font-weight:300;
}

.categorias_dicas li{
	margin-top:20px;
	
}

.categorias_dicas li a:hover{
	font-weight:700;
	color: #000;
}


/**
============================================
					DICAS
============================================
*/




/**
============================================
					PRODUTOS
============================================
*/


.produtos_dentro img{
	border:1px solid #b5b5b5;
}

.produtos_dentro h1{
	font-weight:400;
	font-size:20px;
	color:#283239;
}
.produtos_dentro h2{
	margin-top:10px;
}

.btn_orcamento_produtos,.btn_orcamento_produtos:hover{
	width:288px;
	line-height:40px;
	background:#ed3237;
	color:#fff;
	font-size:15px;
}

/**
============================================
					SERVICOS
============================================
*/
.lista-servico{
	margin-bottom: 17px;
	border-bottom: 5px solid #283239;
	padding-bottom: 15px;
	overflow: hidden;
}


.lista-servico h4{
	font-size: 20px;
	height: 45px;
	overflow: hidden;
}



.lista-servico p{
	height: 89px;
	overflow: hidden;
}

.servicos_geral h1{
	font-weight:400;
	font-size:30px;
	color:#fff;
}
.servicos_geral .media-left,.servicos_geral .media-right,.servicos_geral .media-body {
    display: table-cell;
    vertical-align: middle;
}

.titulo-linha-direia{
    padding-bottom: 15px;
    background: url(../imgs/linha-titulo-metade.png) bottom left no-repeat;
}

.menu-topo .btn_vermelho_topo{
	height:40px;
}

/**
============================================
					SERVICOS
============================================
*/

.barra_categorias .dropdown-menu>li>a{
    font-size: 20px;
    padding: 10px 20px;
}


.sub-menu a{
	font-size: 20px !important;
}




.topo-meu-orcamento {
	color:#fff;
	min-width: 350px;
	font-size: 14px;
}



.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 10px;
	padding-bottom: 5px;
}



.input-lista-prod-orcamentos {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

form span{
	font-family: 'Lato', sans-serif !important;
}


.icon-faixa{
	background: url("../imgs/icon-faixa.jpg") bottom left no-repeat;
	padding-bottom: 15px;
}